@page
@using System.Text.Json;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" id="OpenLibraryCall">
        <input type="text" name="UserInput" />
        <input type="submit" />
    </form>

    @if (Model.FetchedData != null && Model.FetchedData.docs != null)
    {
        <div class="book-cards-container">
            @foreach (var book in Model.FetchedData.docs)
            {
                <div class="book-card" onclick="openModal('@book.key')">
                    <div class="book-image">
                        @if (!string.IsNullOrEmpty(book.imageUrl))
                        {
                            <img src="@book.imageUrl" alt="coverImage" />
                        }

                    </div>
                    <div class="book-details">
                        <p>@book.title</p>
                        @if (book.author_name != null && book.author_name.Any())
                        {
                            <p><strong>Author:</strong> @string.Join(", ", book.author_name)</p>
                        }
                        @if (book.first_publish_year != 0)
                        {
                            <p><strong>Published:</strong> @book.first_publish_year</p>
                        }
                        @if (book.publisher != null && book.publisher.Any())
                        {
                            <p><strong>Publisher:</strong> @string.Join(", ", book.publisher)</p>
                        }
                        @if (book.subject != null && book.subject.Any())
                        {
                            <p><strong>Subjects:</strong> @string.Join(", ", book.subject)</p>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>

<div id="bookModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <!-- New container for content and button -->
        <div class="modal-container">
            <div class="modal-body">
                <div id="modalImageContainer" class="modal-side">
                    <img id="bookImage" src="" alt="Book Image" />
                </div>
                <div id="modalBookDetails" class="modal-main">
                    <div id="bookKey" style="display: none;"></div>
                    <div id="bookTitle"></div>
                    <div id="bookAuthor"></div>
                    <div id="bookSubject"></div>
                    <div id="bookPublishYear"></div>
                    <div id="bookPublisher"></div>
                </div>
            </div>

            <button id="modalButton">Add to library</button>
        </div>
    </div>
</div>